.ng-valid[required],
.ng-valid.required {
  border-left: 10px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 10px solid #a94442; /* red */
}
p {
  color: red;
  padding-top: 4px;
}
button:disabled {
  cursor: no-drop !important;
}

#toast-rm-danger {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 300px;
  height: 64px;
}
