<div>
  <div class="row">
    <h1 class="text-center text-[#fcaf17] font-semibold text-[24px]">DANH MỤC NỔI BẬT</h1>
    <div class="grid grid-cols-5 gap-8 mt-[30px]">
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_1.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Áo Polo</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_2.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Áo Sơ Mi</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_3.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Váy Đầm</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_4.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Áo Khoác</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_5.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Áo Thun</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_6.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Quần Âu</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_7.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Chân Váy</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_8.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Quần Kaki</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_9.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Phụ Kiện</span>
        </a>
      </div>
      <div class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="#">
          <img class="inline-block"
            src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_cate_icon_10.svg?1665975441663"
            alt="">
          <span class="inline-block ml-[10px]">Quần Jean</span>
        </a>
      </div>
    </div>
  </div>
  <div class="banner mt-[30px]">
    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_slider_1.jpg?1665975441663" alt="">
  </div>
  <div class="flex justify-around pb-4 flex-wrap mt-4">
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_1.png?1664013466741" />
      <span class="text-xs font-semibold">
        Miễn phí vận chuyển đơn 0đ
        <span class="text-xs font-semibold text-[#182ccd]">FREESHIP</span> mọi đơn hàng từ 1/9-30/9
      </span>
    </div>
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_2.png?1664013466741" />
      <span class="text-xs font-semibold">
        Đa dạng hình thức thanh toán
        Momo, VNPay, COD
      </span>
    </div>
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_3.png?1664013466741" />
      <span class="text-xs font-semibold">
        Giao hàng nhanh
        Chỉ từ
        <span class="text-xs font-semibold text-[#182ccd]">2-5 ngày</span>
      </span>
    </div>
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_4.png?1664013466741" />
      <span class="text-xs font-semibold">
        Miễn phí ĐỔI, TRẢ
        Trong 15 ngày tại
        <span class="text-xs font-semibold text-[#182ccd]">180+ </span>điểm bán
      </span>
    </div>
  </div>
  <div>
    <h1 class="text-center text-[#fcaf17] font-semibold text-[24px] mt-[20px]">MUA THEO PHONG CÁCH</h1>
    <div class="grid grid-cols-2 gap-8 mt-[30px]">
      <div>
        <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_1.jpg?1665975441663"
          alt="">
      </div>
      <div class="grid grid-cols-2 gap-8">
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_2.jpg?1665975441663"
            alt="">
        </div>
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_3.jpg?1665975441663"
            alt="">
        </div>
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_4.jpg?1665975441663"
            alt="">
        </div>
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_5.jpg?1665975441663"
            alt="">
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-center text-[#fcaf17] font-semibold text-[24px] mt-[40px]">ĐỀ XUẤT CHO BẠN</h1>
    <div class="grid grid-cols-5 gap-8 mt-[20px]">
      <div class="product-item">
        <a href="#">
          <img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn3340-dml-cjn3030-cba-5.jpg?v=1664764733000"
            alt="">
        </a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Tay Ngắn Pique Mắt C...</a></h3>
        <span class="text-[red] text-[18px] font-bold">231.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">289.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn5380-xng-3.jpg?v=1661326583000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Airycool Thoáng Mát P...</a></h3>
        <span class="text-[red] text-[18px] font-bold">239.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">299.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#">
          <img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn3516-cba0.jpg?v=1665116824000" alt="">
        </a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Coolmax Lacoste</a></h3>
        <span class="text-[red] text-[18px] font-bold">279.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">349.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn4396-tra-1-jpeg.jpg?v=1652063010000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Cafe Phối Bo Kiểm Sóa...</a></h3>
        <span class="text-[red] text-[18px] font-bold">263.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">329.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn3700-vag-5.jpg?v=1663049127000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Cafe Phối Nẹp Siêu Nh...</a></h3>
        <span class="text-[red] text-[18px] font-bold">263.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">329.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/ao-polo-nuao-polo-nuao-polo-nuapn3724-xng-yody-vn-yody-vn-yody-vn.jpg?v=1655111390000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Coolmax Phối Bo</a></h3>
        <span class="text-[red] text-[18px] font-bold">279.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">349.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn3706-xa3-1.jpg?v=1664779929000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Pique Mắt Chim Phối B...</a></h3>
        <span class="text-[red] text-[18px] font-bold">231.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">289.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn5054-tra-qjn3076-den-5.jpg?v=1662534442000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Croptop Pique Mắt Chi...</a></h3>
        <span class="text-[red] text-[18px] font-bold">231.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">289.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/san5028-den-4-jpeg.jpg?v=1663058267000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Thể Thao Nữ Airycool Phối...</a></h3>
        <span class="text-[red] text-[18px] font-bold">215.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">269.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn4388-nav-qjn3076-xah-4.jpg?v=1662947528000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Cafe Cổ Trơn Siêu Nhẹ...</a></h3>
        <span class="text-[red] text-[18px] font-bold">263.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">329.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/acn5010-xat-3.jpg?v=1653096236000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Chống Nắng Airy UV Thoán...</a></h3>
        <span class="text-[red] text-[18px] font-bold">231.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">289.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn5320-xng.jpg?v=1655450582000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Coolmax Phối Bo Siêu ...</a></h3>
        <span class="text-[red] text-[18px] font-bold">231.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">399.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/san5002-xng-cvn5162-den-8.jpg?v=1655863568000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Thể Thao Nữ AiryCool Basi...</a></h3>
        <span class="text-[red] text-[18px] font-bold">231.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">289.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/qjn3076-xah2.jpg?v=1655541430000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Quần Jean Nữ Baggy Co Giãn Cạ...</a></h3>
        <span class="text-[red] text-[18px] font-bold">367.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">459.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/quan-jeans-nuqjn4014-dam-2-yodyvn.jpg?v=1664955729000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Quần Jean Nữ Dáng Boy Lưng Thấ...</a></h3>
        <span class="text-[red] text-[18px] font-bold">231.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">289.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn5378-tna-cjn3030-dba-6.jpg?v=1664165980000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Mắt Chim Dáng Suông...</a></h3>
        <span class="text-[red] text-[18px] font-bold">239.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">299.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/bdn5068-tny-4-824bb9cc-fa88-482f-998f-6cf20aac2ee4.jpg?v=1665565705000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Bộ Đồ Nữ Mùa Hè Cotton Compac...</a></h3>
        <span class="text-[red] text-[18px] font-bold">287.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">359.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/scn5194-den-qan5162-bee-6.jpg?v=1653494092000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Quần Baggy Nữ Lưng Cao Ống Đứ...</a></h3>
        <span class="text-[red] text-[18px] font-bold">359.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">499.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/qan5092-tit07.jpg?v=1665393454000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Quần Tây Nữ Ống Đứng Công Sở T...</a></h3>
        <span class="text-[red] text-[18px] font-bold">399.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">499.000đ</span></span>
      </div>
      <div class="product-item">
        <a href="#"><img class="rounded"
            src="https://bizweb.sapocdn.net/thumb/large/100/438/408/products/apn5292-cam-8.jpg?v=1664164406000"
            alt=""></a>
        <h3 class="my-2"><a href="#">Áo Polo Nữ Pique Mắt Chim Chấm ...</a></h3>
        <span class="text-[red] text-[18px] font-bold">239.200đ <span
            class="text-[#8a8a8f] text-[16px] ml-4 line-through">299.000đ</span></span>
      </div>
    </div>
    <div class="text-center">
      <button
        class="text-[20px] text-[#fff] bg-[#fcaf17] px-[100px] py-[6px] mt-[20px] hover:bg-white hover:text-[#fcaf17] hover:border-green-700 rounded">Xem
        thêm</button>
    </div>
  </div>
</div>
