<div>
  <div class="row">
    <h1 class="text-center text-[#fcaf17] font-semibold text-[24px]">DANH MỤC NỔI BẬT</h1>
    <div class="grid grid-cols-6 gap-8 mt-[30px]">

      <div *ngFor="let category of categories" class="flex justify-center items-center border w-[220px] h-[120px] ml-4">
        <a href="product?category={{category.id}}">
          <img class="inline-block" src={{category.image}} alt="">
          <span class="inline-block ml-[10px]">{{category.name}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="banner mt-[30px]">
    <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_slider_1.jpg?1665975441663" alt="">
  </div>
  <div class="flex justify-around pb-4 flex-wrap mt-4">
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_1.png?1664013466741" />
      <span class="text-xs font-semibold">
        Miễn phí vận chuyển đơn 0đ
        <span class="text-xs font-semibold text-[#182ccd]">FREESHIP</span> mọi đơn hàng từ 1/9-30/9
      </span>
    </div>
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_2.png?1664013466741" />
      <span class="text-xs font-semibold">
        Đa dạng hình thức thanh toán
        Momo, VNPay, COD
      </span>
    </div>
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_3.png?1664013466741" />
      <span class="text-xs font-semibold">
        Giao hàng nhanh
        Chỉ từ
        <span class="text-xs font-semibold text-[#182ccd]">2-5 ngày</span>
      </span>
    </div>
    <div class="flex flex-1 items-center">
      <img class="pr-4" src="https://bizweb.sapocdn.net/100/438/408/themes/863105/assets/ser_4.png?1664013466741" />
      <span class="text-xs font-semibold">
        Miễn phí ĐỔI, TRẢ
        Trong 15 ngày tại
        <span class="text-xs font-semibold text-[#182ccd]">180+ </span>điểm bán
      </span>
    </div>
  </div>
  <div>
    <h1 class="text-center text-[#fcaf17] font-semibold text-[24px] mt-[20px]">MUA THEO PHONG CÁCH</h1>
    <div class="grid grid-cols-2 gap-8 mt-[30px]">
      <div>
        <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_1.jpg?1665975441663"
          alt="">
      </div>
      <div class="grid grid-cols-2 gap-8">
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_2.jpg?1665975441663"
            alt="">
        </div>
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_3.jpg?1665975441663"
            alt="">
        </div>
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_4.jpg?1665975441663"
            alt="">
        </div>
        <div>
          <img src="https://bizweb.sapocdn.net/100/438/408/themes/878697/assets/page_nu_banner_5.jpg?1665975441663"
            alt="">
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-center text-[#fcaf17] font-semibold text-[24px] mt-[40px]">ĐỀ XUẤT CHO BẠN</h1>
    <div class="grid grid-cols-5 gap-8 mt-[20px]">
      <div *ngFor="let p of products" class="product-item">
        <a href="product/{{p.id}}">
          <img class="rounded" src={{p.image}} alt="">
        </a>
        <h3 class="my-2"><a href="#" class="line-clamp-1">{{p.name}}</a></h3>
        <span class="text-[#000000] text-[16px]">{{p.price}} VNĐ</span>
      </div>
    </div>
  </div>
</div>