<div class="flex flex-col min-h-screen bg-white dark:bg-gray-900">
    <div class=" w-full">
        <a routerLink="/" class="flex items-center justify-center mt-10 mb-8">
            <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-10" alt="Flowbite Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <div
            class="justify-center mx-auto items-center w-full bg-white rounded-lg shadow lg:flex md:mt-0 lg:max-w-screen-sm xl:p-0 dark:bg-gray-800">
            <form class="p-6 w-full sm:p-8 lg:p-10" id="loginForm" #loginForm="ngForm"
                (ngSubmit)="hanlderLogin(loginForm)">
                <h1 class="mb-3 text-2xl font-bold text-gray-900 lg:text-3xl dark:text-white">Đăng nhập</h1>
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Email</label>
                    <input type="email" id="email" ngModel #email="ngModel" name="email"
                        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="name@flowbite.com" required>
                    <p *ngIf="!email?.valid && (email?.dirty||email?.touched)">Vui lòng nhập email</p>
                </div>
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mật
                        khẩu</label>
                    <input type="password" id="password" ngModel #password="ngModel" name="password"
                        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required minlength="8">
                    <p *ngIf="!password?.valid && (password?.dirty||password?.touched)">Vui lòng nhập password và lớn
                        hơn 8 ký tự</p>
                </div>
                <div class="text-right mb-6 mr-2">
                    <a routerLink="/signup"
                        class=" text-sm font-medium text-right text-blue-600 dark:text-blue-600">Đăng ký</a>
                </div>
                <button type="submit" [disabled]="!loginForm.form.valid"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Đăng
                    nhập</button>
            </form>
        </div>
    </div>
    <div *ngIf="notification.visible" id="toast-rm-danger"
        class="flex notification items-center p-4 mb-4 w-full max-w-xs text-gray-500 bg-white rounded-lg shadow"
        role="alert">
        <div class="inline-flex flex-shrink-0 justify-center items-center w-8 h-8 text-red-500 bg-red-100 rounded-lg">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Error icon</span>
        </div>
        <div class="ml-3 text-sm font-normal">{{notification.content}}</div>
        <button type="button" (click)="resetNoti()"
            class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8"
            data-dismiss-target="#toast-rm-danger" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</div>
